
.img{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 90px;
    width: 90px;
    height: 90px;
}

.img img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
}