.button {
    background-color: white;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 20px;
    padding: 10px 20px;
    /* margin: 10px 0px; */
    width: 125px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.danger {
    border: 2px solid red;
    color: red;
}
.danger:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.green {
    border: 2px solid rgb(2, 177, 2);
    color: rgb(2, 177, 2);
}
.green:hover {
    background-color: rgba(0, 130, 0, 0.2);
}

.purple {
    border: 2px solid purple;
    color: purple;
}
.purple:hover {
    background-color: rgba(126, 0, 126, 0.2);
}

.black {
    border: 2px solid black;
    color: black;
}
.black:hover {
    background-color: rgba(0, 0, 0, 0.2);
}