.navigation {
    margin-top: 20px;
}

.nav {
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 2px solid rgb(228, 142, 228);
    padding: 10px 20px;
}

.active {
    color: rgb(119, 0, 255);
    background-color: rgba(228, 142, 228, 0.5);
}

@media (max-width: 369px){
    .nav {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px){
    .nav {
        font-size: 1.1rem;
    }
}