.People{
    text-align: center;
    /* border:1px solid black; */
    margin-top: 50px;
    max-height: 300px;
}
.log{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

@media (max-width:1025px){
    .People{
        overflow-y: scroll;
    }
}
