.keywordCloud {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 563px){
    .keywordCloud {
        width: 100%;
    }
}