.WordPower {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.List{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.frequent{
    width: 40%;
}

.positive {
    width: 40%;
}

.voiceEmotion {
    width: 40%;
}

.wpm {
    width: 40%;
}

@media (max-width: 700px){
    .frequent{
        width: 100%;
    }
    
    .positive {
        width: 100%;
    }

    .voiceEmotion {
        width: 100%;
    }
    
    .wpm {
        width: 100%;
    }
}   