.negative {
    /* width: 20%; */
    text-align: center;
    margin: 20px 0px;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.content {
    position: relative;
}

.contentButton {
    margin: 10px 20px;
    border-radius: 20px;
    width: 125px;
}

/* .contentButton:hover ~ .sideMenu {
    display: flex;
}

.sideMenu:hover {
    display: flex;
} */

.sideMenu {
    border: 1px solid lightgrey;
    transition: 1s ease-in-out;
    padding: 10px 20px;
    width: 80px;
    position: absolute;
    display: none;
    font-size: 1.5rem;
    justify-content: space-around;
    z-index: 10;
    background-color: white;
    right: -102px;
    top: 0px;
}

.sideMenu div {
    cursor: pointer;
}